@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(var(--color-background));
  color: rgb(var(--color-text));
}
